
<div class="row">
    <div class="col-12 mt-3">
        <!-- Duyệt văn bản -->
        <div class="table-responsive">
            <table class="fixedrows2 mx-2">
                <tr>
                        <td><input type="text" class="form-control" id="SoVB" name="SoVB" aria-describedby="SoVB" placeholder="Số văn bản hoặc trích yếu văn bản..."></td>
                        <td>
                            <button type="submit" id="timvb" class="btn btn-submit btn-primary-c">
                                <i class="loading-icon fa fa-spinner fa-spin d-none"></i>
                                <span class="btn-txt">Tra cứu</span>
                            </button>
                        </td>
                </tr>
            </table>
        </div>
        <!-- End Nội dung side bar -->
        <div class="table-container table-responsive">
            <!-- @include('dulieutracuu') -->
        </div>
        <!-- Modal Cập nhật ý kiến chỉ đạo -->
        <div class="modal fade" id="ykiencd" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="addModalLabel">Ý KIẾN CHỈ ĐẠO</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body border border-info rounded m-3" style="max-height: calc(100vh - 250px);overflow-y: auto;">
                            <input name="DocumentID" id="DocumentID" type="hidden" value="">
                            <textarea class="form-control w-100" id="YKCD" rows="3" name="YKCD" aria-describedby="YKCD"></textarea>
                            <div class="table-container2 mt-2">
                                <!-- @include('dulieuchidao') -->
                            </div>
                        </div>
                        <div class="modal-footer float-left ">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> Thêm</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Hủy</button>
                        </div>
                </div>
            </div>
        </div>
        <!-- End Modal Cập nhật ý kiến chỉ đạo -->
    </div>
</div>
