<mat-radio-group aria-label="Trạng thái">
  <span class="fw-bold"><mat-radio-button (change)="statusChange($event)" value="1" checked>Chưa hoàn thành</mat-radio-button></span>
  <span class="mx-2 fw-bold"><mat-radio-button (change)="statusChange($event)" value="3">Đã hoàn thành</mat-radio-button></span>
  <span class="mx-2 fw-bold"><mat-radio-button (change)="statusChange($event)" value="4">Quá hạn</mat-radio-button></span>
</mat-radio-group>
<form [formGroup]="thongkeVB" (ngSubmit)="thongkeYKCD()" class="mt-2">
    <table>
      <tr>
        <td *ngIf="statusSelected == '3' || statusSelected == '4'">
          <mat-form-field appearance="outline">
            <mat-label>Ngày bắt đầu</mat-label>
            <input matInput type="date" placeholder="Ngày bắt đầu" required formControlName="NgayBD">
            <mat-error *ngIf="hasError('NgayBD', 'required')">Ngày bắt đầu bắt buộc (*)</mat-error>
          </mat-form-field>
        </td>
        <td *ngIf="statusSelected == '3'  || statusSelected == '4'">
          <mat-form-field appearance="outline">
            <mat-label>Ngày kết thúc</mat-label>
            <input matInput type="date" placeholder="Thời gian hết hạn" required formControlName="NgayKT">
            <mat-error *ngIf="hasError('NgayKT', 'required')">Thời gian hết hạn bắt buộc (*)</mat-error>
          </mat-form-field>
        </td>
        <td *ngIf="statusSelected == '3'  || statusSelected == '4'">
          <mat-form-field appearance="outline">
            <mat-label>Cán bộ thực hiện</mat-label>
            <mat-select formControlName="CBThucHien" placeholder="Cán bộ thực hiện" required>
              <mat-option>
                <ngx-mat-select-search [formControl]="timkiemCBTH"
                  [placeholderLabel]="'Tìm kiếm'"
                  [noEntriesFoundLabel]="'Không có dữ liệu tìm kiếm'"
                >
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="00000">
                Tất cả cán bộ
              </mat-option>
              <mat-option *ngFor="let th of canbothuchien" [value]="th.id">
                {{th.FullName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('CBThucHien', 'required')">Cán bộ thực hiện bắt buộc (*)</mat-error>
          </mat-form-field>
        </td>
        <td>
          <span *ngIf="statusSelected == '3'  || statusSelected == '4'; then thenBlock else elseBlock"></span>
          <ng-template #thenBlock>
            <button mat-button class="btn btn-sm btn-outline-primary fw-bold mx-2 mb-3" [disabled]="!thongkeVB.valid">Thống kê</button>
          </ng-template>
          <ng-template #elseBlock>
            <button mat-button class="btn btn-sm btn-outline-primary fw-bold mx-2 mb-3">Thống kê</button>
          </ng-template>
        </td>
      </tr>
    </table>
</form>

<table *ngIf="statusSelected == '4'" style="width: 100%; text-align: center;" mat-table [dataSource]="dataSource2" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="TenCBThuLy">
    <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef> Cán bộ thụ lý </th>
    <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
  </ng-container>

  <ng-container matColumnDef="SLVBTre">
    <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef> Số lượng văn bản trễ hạn </th>
    <td mat-cell *matCellDef="let element"> {{element.SLVanBan}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: ['TenCBThuLy','SLVBTre'];"></tr>
</table>

<div class="mat-elevation-z8">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Lọc dữ liệu</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nhập nội dung cần lọc..." #input>
  </mat-form-field>
  <table class="tbNoidung" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="VanBanDen">
      <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef>Văn bản đến</th>
      <td mat-cell [ngClass]="['contentIncomingTextNumberNotation', 'tableContent']" *matCellDef="let element">
        <p><span class="fw-bold">Số, ký hiệu VB đến: </span>
          <span class="fw-bold text-primary">{{element.IncomingTextNumberNotation}}</span>
        </p>
        <p><span class="fw-bold">Ngày phát hành: </span>{{element.ReleaseDate | date: 'dd/MM/yyyy'}}</p>
        <p>
          <span class="fw-bold">Ngày hết hạn xử lý: </span>
          <span *ngIf="element.TGConLai > 0 && element.TGConLai <= 3" class="text-warning">{{element.ExpirationDate | date: 'dd/MM/yyyy'}}</span>
          <span *ngIf="element.TGConLai <= 0" class="text-danger">{{element.ExpirationDate | date: 'dd/MM/yyyy'}}</span>
          <span *ngIf="element.TGConLai > 3" class="text-dark">{{element.ExpirationDate | date: 'dd/MM/yyyy'}}</span>
        </p>
        <p>
          <span class="fw-bold">Người thực hiện: </span>
          <span *ngFor="let nguoith of nguoithuchienvb" class="text-dark">
            <span class="fw-bold text-primary" *ngIf="element.DocumentID == nguoith.IncomingOfficialDispatchID">{{nguoith.FullName}}; </span>
          </span>
        </p>
        <p class="fw-bold">{{element.TextExcerpt}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="DangThucHien">
      <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef>Đang thực hiện</th>
      <td [ngClass]="['tableContent']" mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-sm text-success mb-2" (click)="tiendoThuchien(element)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm tiến độ</button>
        <ul *ngFor="let dangth of dangthuchien; let index">
          <li *ngIf="element.DocumentID == dangth.DocumentID">
            <span class="fw-bold">{{dangth.ImplementationDate | date: 'dd/MM/yyyy'}}: </span>
            <span class="fw-bold">{{dangth.ImplementationContent}}</span>
            <p *ngFor="let filetdth of filetiendothuchien">
              <span *ngIf="dangth.id == filetdth.ProgressID && filetdth.namePF1 != null && filetdth.pathPF1 != null">
                <a href="{{urlFile}}{{filetdth.pathPF1}}" target="blank">{{filetdth.namePF1}}</a>
              </span>
            </p>
            <button type="button" class="btn btn-sm text-success" (click)="capnhatTiendoThuchien(dangth)"><i class="fa fa-pencil-square-o"></i></button>
            <button type="button" class="btn btn-sm text-danger" (click)="xoaTiendoThuchien(dangth)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="DaThucHien">
      <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef>Đã thực hiện</th>
      <td mat-cell [ngClass]="['contentTextExcerpt', 'tableContent']" *matCellDef="let element">
        <button type="button" class="btn btn-sm text-success mb-2" (click)="daThuchien(element)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Hoàn thành</button>
        <ul *ngFor="let dath of dathuchien">
          <li *ngIf="element.DocumentID == dath.OriginalDispatchID">
            <span class="fw-bold">{{dath.ReleaseDateTravel | date: 'dd/MM/yyyy'}}: </span>
            <span class="fw-bold">{{dath.Contents}}</span>
            <p *ngIf="dath.nameODF1 != null && dath.pathODF1 != null">
              <a href="{{urlFile}}{{dath.pathODF1}}" target="blank">{{dath.nameODF1}}</a>
            </p>
            <button type="button" class="btn btn-sm text-success" (click)="capnhatHoanthanh(dath)"><i class="fa fa-pencil-square-o"></i></button>
            <button type="button" class="btn btn-sm text-danger" (click)="xoaHoanthanh(dath)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="TrangThai">
      <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef>Trạng thái</th>
      <td mat-cell [ngClass]="['contentTextExcerpt', 'tableContent']" *matCellDef="let element">
        <span *ngIf="element.ExecutionStatus == 1; then thenBlock else elseBlock"></span>

              <ng-template #thenBlock>
                <div *ngIf="element.TGConLai > 0 && element.TGConLai <= 3" class="bg-warning p-2 rounded">
                  <span class="fw-bold text-dark">Chưa hoàn thành (Sắp hết hạn)</span>
                </div>
                <div *ngIf="element.TGConLai <= 0" class="bg-danger p-2 rounded">
                  <span class="fw-bold text-dark">Chưa hoàn thành (Đã trễ hạn)</span>
                </div>
                <span *ngIf="element.TGConLai > 3" class="fw-bold text-dark">Chưa hoàn thành</span>
              </ng-template>

              <ng-template #elseBlock>
                <span class="fw-bold text-success">Hoàn thành</span>
              </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="YKienChiDao">
      <th [ngClass]="['tableTitle']" mat-header-cell *matHeaderCellDef>Ý kiến chỉ đạo</th>
      <td mat-cell [ngClass]="['contentTextExcerpt', 'tableContent']" *matCellDef="let element">
        <button type="button" class="btn btn-sm text-success mb-2" (click)="themYKCD(element)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm ý kiến chỉ đạo</button>
        <p *ngIf="element.summary != null">
          <img width="250px" src="{{urlChitietHinhanhTT}}{{element.summary}}" (click)="showLightbox(i,urlChitietHinhanhTT+element.summary)" alt="summary" />
        </p>
        <ul *ngFor="let ykcd of ykienchidao">
          <li *ngIf="element.DocumentID == ykcd.IncomingOfficialDispatchID">
            <p [ngStyle]="{color: ykcd.color}">
              <span class="fw-bold" *ngIf="ykcd.summaryDate != null">{{ykcd.summaryDate | date: 'dd/MM/yyyy'}}: </span>
              <span class="fw-bold">{{ykcd.nickname}}: </span>
              <span class="fw-bold">{{ykcd.summary}}</span>
            </p>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.selected]="row.selected"
      (click)="row.selected= !row.selected"
      (click)="selection.toggle(row)"
      >
    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Không tìm thấy dữ liệu lọc {{input.value}}</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>

<ng-image-fullscreen-view
        [images]="imageObject"
        [imageIndex]="currentIndex"
        [show]="showFlag"
        (close)="closeEventHandler()"></ng-image-fullscreen-view>
