
table .tbNoidung{
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.selected {
  background-color: #dfe8f1!important;
}

.tableTitle {
  text-align: center !important;
  vertical-align: middle !important;
  color: black!important;
  font-size: small!important;
  font-weight: bold!important;
}

.tableContent{
  padding: 0 15px 0 15px!important;
}

.contentIncomingTextNumberNotation{
  width: 400px!important;
}

.contentTextExcerpt{
  width: 800px!important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-header-row
{
  background-color: #CFE2FF;
}

.mat-column-select {
  border-top: 1px solid #CFE2FF;
  border-left: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-VanBanDen {
  border-top: 1px solid #CFE2FF;
  border-right: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 24% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
}

.mat-column-DangThucHien {
  border-top: 1px solid #CFE2FF;
  border-left: 1px solid #CFE2FF;
  border-right: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
}

.mat-column-DaThucHien {
  border-top: 1px solid #CFE2FF;
  border-left: 1px solid #CFE2FF;
  border-right: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
}

.mat-column-TrangThai {
  border-top: 1px solid #CFE2FF;
  border-left: 1px solid #CFE2FF;
  border-right: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 9% !important;
  width: 9% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.mat-column-YKienChiDao {
  border-top: 1px solid #CFE2FF;
  border-left: 1px solid #CFE2FF;
  border-right: 1px solid #CFE2FF;
  border-bottom: 3px solid #CFE2FF;
  //word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 24% !important;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  // word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-top: 15px !important;
  padding-bottom: 5px !important;
}

.mat-row:nth-child(even){
  background-color: rgb(233, 239, 248);
}

// .mat-row:nth-child(odd){
//   background-color: black;
// }

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px !important;
}
