
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.selected {
  background-color: #B8DAFF!important;
}

.tableTitle {
  text-align: center !important;
  vertical-align: middle !important;
  color: black!important;
  font-size: small!important;
  font-weight: bold!important;
}

// .mat-sort-header-container{
//   justify-content: center!important;
// }

// .mat-header-cell {
//   text-align: center !important;
// }

.tableContent{
  padding: 0 30px 0 30px!important;
}

.contentIncomingTextNumberNotation{
  width: 200px!important;
}

.contentTextExcerpt{
  width: 800px!important;
}
