<h2 mat-dialog-title>THÔNG TIN HOÀN THÀNH</h2>
<section fxLayout="row wrap" fxLayoutAlign="center center">
  <form [formGroup]="themHT" (ngSubmit)="themHoanthanh()">
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="NgayVBDi">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
              <mat-label>Ngày thực hiện</mat-label>
              <input matInput type="date" placeholder="Ngày thực hiện" id="NgayVBDi" required formControlName="NgayVBDi">
              <mat-error *ngIf="hasError('NgayVBDi', 'required')">Ngày thực hiện bắt buộc (*)</mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="NoiDungVBDi">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
              <mat-label>Nội dung thực hiện</mat-label>
              <textarea matInput type="text" placeholder="Nội dung thực hiện..."rows="2" formControlName="NoiDungVBDi"></textarea>
              <mat-error *ngIf="hasError('NoiDungVBDi', 'required')">Nội dung thực hiện bắt buộc (*)</mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="fileODF1">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
              <mat-label>Tệp đính kèm</mat-label>
              <ngx-mat-file-input [formControl]="fileControl" placeholder="Tệp đính kèm" [accept]="'application/pdf'"></ngx-mat-file-input>
              <mat-error *ngIf="themHT.get('fileODF1').hasError('maxContentSize')">
                Tổng kích thước file không được vượt quá {{themHT.get('fileODF1')?.getError('maxContentSize').maxSize | byteFormat}} ({{themHT.get('fileODF1')?.getError('maxContentSize').actualSize
                | byteFormat}}).
              </mat-error>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['NgayVBDi','NoiDungVBDi'];"></tr>
        <tr mat-row *matRowDef="let row; columns: ['fileODF1'];"></tr>
      </table>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button class="btn btn-sm btn-success mx-2" [disabled]="!themHT.valid">Hoàn thành</button>
      <button mat-button mat-dialog-close class="btn btn-sm btn-warning">Huỷ</button>
    </mat-dialog-actions>
  </form>
</section>
