table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin: 0 5px 0 5px;
}

mat-form-field {
  color: #0D6EFD !important;
  font-size: 16px !important;
  //font-weight: bold !important;
}

mat-form-field mat-label {
  color: rgb(10, 10, 10) !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0 8px 8px 0;
}

td.mat-cell{
  border-bottom-style: none;
}

th.mat-header-cell{
  border-bottom-style: none;
}
